$color-text: #ebe9e6;
$color-black: #1c1c1c;
$color-fullLayout: #dddddd;
$color-red: #d41138;
$color-hover: #c1c1c1;
$color-shadow: #848787;
$color-background: #dbdbdb;
$color-rate: #f9f905;
$color-rate-checked: #fd6d07;