.wrapcategoryitem {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;

    .category_item {
        width: max-content;

        .category_item_icon {
            width: 110px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            background-color: #f5f5f5;

            .wrapicon {
                width: 50%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .category_name {
            text-align: center;
            margin-top: 9px;
            font-size: 18px;
        }
    }
}