@use '../../colors';

.producthome_item {
    width: 300px;
    padding: 0 12px;

    .contentitem {
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0px 0px 6px;
        overflow: hidden;
        transition: transform linear 0.1s;

        .home__produt-item-img {
            padding-top: 100%;
            transition: transform linear 0.2s;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .home__produt-item-name {
            font-size: 17px;
            font-weight: 600;
            color: #474c51;
            line-height: 22px;
            margin: 10px 10px 6px 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .home__produt-item-gia {
            display: flex;
            justify-content: space-between;
            margin: 10px 10px 10px 10px;

            .oldprice {
                // font-size: 18px;
                // color: #999;
                // text-align: center;
                // display: block;
                // padding-right: 4px;
                // text-decoration: line-through;
                // margin-right: 5px;
                text-decoration: line-through;
            }

            .wrapnewprice {
                color: #fff;
                text-align: center;
                display: block;
                padding: 3px 10px;
                // background: linear-gradient(to right, red 29%, #ef8573 24%);
                max-width: 150px;
                font-weight: 600;
                line-height: 24px;
                font-size: 18px;
                border-radius: 30px;

                .newprice {
                    width: max-content;
                    display: -webkit-box;
                }

            }
        }

        .home__produt-item-action {
            display: flex;
            justify-content: space-between;
            padding: 12px 10px;
            align-items: center;
            position: relative;

            a {
                height: max-content;
                padding: 8px 15px;
                position: absolute;
                right: 10px;
                background-color: #d41138;
                border-radius: 5px;
                font-size: 18px;
                color: #ebe9e6;
                font-weight: 600;
                top: -3px;
            }
        }
    }
}

.contentitem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px colors.$color-red;

    .home__produt-item-img {
        transform: scale(1.03);
    }
}


.productsearch_item {
    width: 247px;
    padding: 0 12px;

    .contentitemsearch {
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0px 0px 6px;
        // overflow: hidden;
        transition: transform linear 0.1s;

        .search-product-item-img {
            padding-top: 100%;
            transition: transform linear 0.2s;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            // background-image: url('http://localhost:4000/images/products/c2e7398856394743517f89ff2bf15f4e.jpg');
        }

        .search__produt-item-name {
            font-size: 17px;
            line-height: 22px;
            margin: 10px 10px 6px 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .search__produt-item-gia {
            display: flex;
            justify-content: space-between;
            margin: 5px 10px 6px 10px;

            .wrap-price {
                padding: 3px 18px;
                border-radius: 17px;
                // background-color: colors.$color-red;

                .price {
                    font-size: 17px;
                    color: #fff;
                }
            }

            .oldprice {
                position: absolute;
                background-color: colors.$color-red;
                top: 57%;
                padding: 2px 12px;
                border-radius: 12px;
                color: #fff;
                text-decoration: line-through;
            }
        }

        .search__produt-item-action {
            display: flex;
            padding: 0px 10px 10px 10px;
            align-items: center;
            position: relative;

            .count-Buy {
                margin-left: 10px;
                transform: translateY(2px);
            }
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 0px 6px colors.$color-red;

        }

        // .discount {
        //     position: absolute;
        //     top: 11px;
        //     left: -11px;
        //     background-color: colors.$color-red;
        //     padding: 5px 4px;
        //     font-size: 13px;
        //     color: #fff;

        //     &::after {
        //         content: "";
        //         position: absolute;
        //         top: 100%;
        //         z-index: -1;
        //         left: 0;
        //         border-left: 6px solid transparent;
        //         border-top: 6px solid colors.$color-red;
        //         border-right: 6px solid colors.$color-red;
        //         border-bottom: 6px solid transparent;

        //     }
        // }
    }
}