@use '../../colors';

.producthome_item {
    width: 300px;
    padding: 0 12px;

    .contentitem {
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        overflow: hidden;
        transition: transform linear 0.1s;

        .home__produt-item-img {
            padding-top: 100%;
            transition: transform linear 0.2s;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .home__produt-item-name {
            font-size: 17px;
            font-weight: 600;
            color: #474c51;
            line-height: 22px;
            margin: 10px 10px 6px 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .home__produt-item-gia {
            display: flex;
            justify-content: space-between;
            margin: 10px 10px 10px 10px;

            .oldprice {
                // font-size: 18px;
                // color: #999;
                // text-align: center;
                // display: block;
                // padding-right: 4px;
                // text-decoration: line-through;
                // margin-right: 5px;
                text-decoration: line-through;
            }

            .wrapnewprice {
                color: #fff;
                text-align: center;
                display: block;
                padding: 3px 10px;
                // background: linear-gradient(to right, red 29%, #ef8573 24%);
                max-width: 150px;
                font-weight: 600;
                line-height: 24px;
                font-size: 18px;
                border-radius: 30px;

                .newprice {
                    width: max-content;
                    display: -webkit-box;
                }

            }
        }

        .home__produt-item-action {
            display: flex;
            justify-content: space-between;
            padding: 4px 10px;

            a {
                height: max-content;
                padding: 8px 15px;
                position: absolute;
                right: 10px;
                background-color: colors.$color-red;
                border-radius: 5px;
                font-size: 18px;
                color: colors.$color-text;
                font-weight: 600;
                bottom: 10px;
            }
        }
    }
}

.contentitem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px colors.$color-red;

    .home__produt-item-img {
        transform: scale(1.03);
    }
}