@use '../../colors';

.search-container {
    position: absolute;
    top: 100px;
    left: 25%;
    width: 750px;
    background-color: white;

    & .product-item {
        height: 75px;
        display: flex;
        padding: 5px;

        & img {
            height: 100%;
            border: 1px solid red;
        }

        & .item-content {
            height: 100%;
            border: 1px solid red;

            & .product-price {
                color: colors.$color-btn;
                font-weight: bold;
            }
        }
    }
}