@use '../../colors';

.drop-list-main {
    width: 100%;
}

.drop-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    & span {
        color: black;
        font-weight: bold;
        background-color: white;
    }
}