@use '../../colors';

.product-rating {
    position: relative;
    width: 90px;
    height: 100%;

    & div {
        position: absolute;

        svg {
            height: 13px;
            padding-right: 3px;
        }

        &:last-child {
            height: 18px;
            // width: attr(rate-percent);
            width: var(--rate-percent);
            color: colors.$color-red;
            overflow: hidden;

            div {
                width: 90px;
            }
        }
    }
}