@use '../../colors';

.product-page {
    width: 100%;
    height: 100%;
    position: relative;

    &-content {
        background-color: white;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        width: 85%;

        & .product-page-images {
            img {
                width: 360px;
            }
        }


        & .product-page-data {
            width: 60%;
            height: 100%;

            & .product-name {
                height: 100px;
                margin-top: 20px;
                font-size: 24px;
                font-weight: bold;
            }

            & .product-price {
                margin-top: 10px;

                & .price {
                    font-size: 22px;
                    color: colors.$color-red;
                    font-weight: bold;
                    // margin-left: 5px;
                }

                & .discount {
                    font-size: 22px;
                    margin-left: 20px;
                    text-decoration: line-through;
                    color: colors.$color-shadow;
                }
            }

            & .product-action {
                margin-top: 20px;
                height: 50px;

                .quantity {
                    width: 104px;
                    height: 100%;
                    position: relative;
                    border: 2px solid black;

                    & button {
                        // background-color: white;
                        background-color: rgb(245, 245, 245);
                        font-size: 22px;
                        outline: none;
                        border: none;
                        height: 100%;
                        width: 30px;
                        position: absolute;
                        cursor: pointer;
                    }

                    & button:last-child {
                        margin-left: 70px;
                    }

                    & input {
                        border: none;
                        outline: none;
                        text-align: center;
                        margin-left: 30px;
                        position: absolute;
                        font-size: 28px;
                        width: 40px;
                        height: 100%;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

            }

            & .product-function {
                margin-top: 20px;
                // border: 1px solid red;
                height: 100px;

                & button {
                    background-color: colors.$color-red;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    color: white;
                    font-size: 24px;
                    width: 300px;
                    height: 75px;
                    cursor: pointer;

                    & span {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

}