@use '../../colors';

.product-rating {
    position: relative;
    width: 90px;
    height: 100%;

    & div {
        height: 20px;
        position: absolute;
        display: inline;

        svg {
            height: 13px;
            padding-right: 3px;
        }

        &:last-child {
            display: inline;
            position: absolute;
            height: 20px;
            // width: attr(rate-percent);
            width: var(--rate-percent);
            color: colors.$color-red;
            overflow: hidden;

            div {
                width: 90px;
                height: 100%;
            }
        }
    }
}