// .hot-products {
//     height: 265px;
//     padding-top: 19px;
//     width: 100%;
//     background-color: #fff;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     overflow: hidden;

.wrap_hot_products {
    width: 1257px;
    height: 100%;
    display: flex;
    margin: auto;

    .hot_products_slice {
        width: 70%;
        height: 250px;
        position: relative;
        overflow: hidden;
    }

    .thumbnail_category {
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: space-around;

        .thumbnail_category_item {
            width: 100%;
            height: 47%;
        }
    }
}

// }


.back {
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
}

.next {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
}