.login {
    width: 400px;
    height: 350px;
    border: 1px solid red;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & form {
        height: 250px;

        & div.error-login {
            width: 100%;
            height: 20px;
            color: red;

            & span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        & div {
            width: 100%;
            height: 60px;

            input {
                display: block;
                font-size: 22px;
                width: 350px;
                height: 50px;
                padding-left: 20px;
                outline: none;
                margin-top: 20px;
                border: 1px solid black;
                border-radius: 5px;
                position: relative;
                left: 50%;
                transform: translate(-50%);
            }

            button {
                font-size: 24px;
                font-weight: bold;
                width: 350px;
                height: 50px;
                margin-top: 20px;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;
            }
        }

    }

    & div {
        width: 100%;
        height: 50px;
        position: relative;

        & button {
            font-size: 20px;
            font-weight: bold;
            width: 250px;
            height: 50px;
            outline: none;
            border: 1px solid black;
            color: white;
            background-color: blue;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            cursor: pointer;
        }

        & a {
            display: block;
            width: 250px;
            height: 50px;
            border: 1px solid black;
            background-color: green;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            &::before {
                content: 'Tạo tài khoản mới';
                color: white;
                width: 130px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}