.header {
    background-color: black;
    height: 175px;

    .header_item1 {
        height: 39px;
        background-color: rgb(252, 252, 252);
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        .header_item1-1 {
            display: flex;

            .header_item_1-1_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all linear 0.2s;
                padding: 0 10px;

                svg {
                    transform: translateY(2px);
                    margin-left: 3px;
                }

                &:hover {
                    background-color: rgb(207, 207, 207);
                    cursor: pointer;
                }
            }
        }

        .header_item1-2 {
            display: flex;

            .header_item_1-2_btn {
                margin: 0 13px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #050505;

                    svg {
                        font-size: 22px;
                    }
                }

                &:hover {
                    color: rgb(112, 112, 112);

                    a {
                        color: rgb(112, 112, 112);
                    }

                    cursor: pointer;
                }

                .text-thongbao {
                    margin-right: 5px;
                }

                .thongbao-icon {
                    font-size: 13px;
                    // color: crimson;
                    transform: translateY(2px);
                }

                .wrap_btn_login-logout {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    color: aliceblue;
                    border-radius: 3px;
                    padding: 16px;

                    span {
                        margin: 0 2px;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .header_item2 {

        .wrap_header_item2 {
            height: 100px;
            display: flex;
            align-items: center;
            background: linear-gradient(234deg, #fff 70%, black 67%);

            .header_logo {
                height: 100%;
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;

                .wrap_logo {
                    display: flex;
                    font-size: 23px;

                    .header_logo_item:nth-child(1) {
                        margin-right: 22px;
                        color: red;
                    }

                    .header_logo_item:nth-child(2) {
                        color: #fff;
                    }
                }
            }

            .header_search {
                height: 50px;
                width: 40%;
                display: flex;
                background-color: aqua;
                margin-left: 45px;

                .search {
                    height: 100%;
                    width: 88%;

                    .search_input {
                        width: 100%;
                        color: #eee;
                        height: 100%;
                        font-size: 14px;
                        border: none;
                        background: transparent;
                        outline: none;
                        caret-color: crimson;
                    }
                }

                .search_btn {
                    height: 100%;
                    flex: 1;
                }
            }
        }
    }
}